/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/models/
/vendor/
/examples/.ipynb_checkpoints/
*.csv
/output/
# rspec failure tracking
.rspec_status
/.ipynb_checkpoints/
*.gem
